Visual recognition node red flow.json
[{"id":"5a3f589e.2f0518","type":"tab","label":"VR","disabled":false,"info":""},{"id":"b29d0014.e0254","type":"visual-recognition-v3","z":"5a3f589e.2f0518","name":"test","vr-service-endpoint":"https://api.us-south.visual-recognition.watson.cloud.ibm.com/instances/2b17bf14-960f-44a5-a599-cc0f82cb9492","image-feature":"classifyImage","lang":"en","x":610,"y":260,"wires":[["60d1779.fbad488"]]},{"id":"810971d.efeb09","type":"function","z":"5a3f589e.2f0518","name":"","func":"msg.params={\"classifier_ids\":\"DefaultCustomModel_1683710596\"}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":465,"y":124,"wires":[[]]},{"id":"60d1779.fbad488","type":"function","z":"5a3f589e.2f0518","name":"","func":"msg.payload=msg.result.images[0].classifiers[0].classes\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":360,"wires":[["113359fc.481b16","ea929fc9.339ea"]]},{"id":"ea929fc9.339ea","type":"ui_template","z":"5a3f589e.2f0518","group":"8c221496.712c48","name":"","order":1,"width":10,"height":15,"format":"<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n  <title>Visual Recognition</title>\n  <meta charset=\"utf-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n   <link rel=\"stylesheet\" href=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css\">\n  <script src=\"https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js\"></script>\n  <script src=\"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js\"></script>\n  <script src=\"https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js\"></script>\n  <style>\n  .bg-light {\n    background-color: #00838F!important;\n\t}\n\th4 {\n    color: #fff;\n\t}\n\t\n\t.custom-file {\n\t\tmargin-bottom: 14px;\n\t\t}\n\t\t\n\t.table .thead-dark th {\n\t\tcolor: #fff;\n\t\tbackground-color: #307d76;\n\t\tborder-color: #307d76;\n\t}\n\th5{\n\t    text-align: center;\n\t\t    color: #bd6666;\n\t\t}\n\t\t.text-center {\n\t\t  text-align: center;\n\t\t}\n\t.imgdiv\n\t{\n\t\talign:center;\n\t}\n\t</style>\n</head>\n<body>\n\t<nav class=\"navbar navbar-expand-sm bg-light\">\n\t\t<div class=\"justify-content-center\">\n\t\t\t<h4 class=\"text-center\">No of crops detected and sent to Crop Price/Yield to Farmer </h4>\n\t\t</div>\n\t</nav>\n\t<br><br>\n    <div class=\"container\">\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t\t\n\t\t\t\t\t<div class=\"custom-file\">\n\t\t\t\t\t\n\t\t\t\t\t\t<input type=\"file\" name=\"pic\" accept=\"image/*\" onchange=\"readURL(this);\" class=\"custom-file-input\" id=\"customFile\">\n\t\t\t\t\t\t\n\t\t\t\t\t\t<label class=\"custom-file-label\" for=\"customFile\">Choose file</label>\n\t\t\t\t\t</div>\n\t\t\t\t\t<br>\n\t\t\t\t\t<div class=\"imgdiv\">\n\t\t\t\t\t\t<img src=\"#\" id=\"blah\" class=\"rounded\" alt=\"Selected Image\">\n\t\t\t\t\t</div>\n\t\t\t\t\t<!--<md-button ng-click=\"send({payload:action()})\">\n\t\t\t\t\t\tPredict\n\t\t\t\t\t</md-button>-->\n\t\t\t\t\t<button type=\"submit\" ng-click=\"send({payload:action()})\" class=\"btn btn-success\">Submit</button>\n\t\t\t\t\n\t\t\t\t\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t</div>\n\t\t<div class=\"row\">\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t\t\t<div class=\"col-sm-8\">\n\t\t\t<h5> The Recognised Objects  </h5>\n\t\t\t<table class=\"table\">\n\t\t\t\t<thead class=\"thead-dark\">\n\t\t\t\t  <tr>\n\t\t\t\t\t<th>Class</th>\n\t\t\t\t\t<th>Score</th>\n\t\t\t\t  </tr>\n\t\t\t\t</thead>\n\t\t\t\t<tbody id=\"scoretable\">\n\t\t\t\t</tbody>\n\t\t\t  </table>\n\t\t\t  \n\t\t\t </div>\n\t\t\t<div class=\"col-sm-2\">\n\t\t\t</div>\n\t</div>\t\n</body>\n</html>\n<script>\nvar x=\"\";\n    function readURL(input) {\n        if (input.files && input.files[0]) {\n            var reader = new FileReader();\n\n            reader.onload = function (e) {\n                $('#blah')\n                    .attr('src', e.target.result)\n                    .width(150)\n                    .height(200);\n            };\n\n            reader.readAsDataURL(input.files[0]);\n            x= input.files[0]\n\n            \n            \n\n        }\n    }\n    function getdata(data)\n\t{\n\t\t var html = '';\n            if(data != 0)\n\t\t\t{\n\t\t\t\t$.each(data, function(i){\n\t\t\t\tvar row = data[i];\n\t\t\t\tconsole.log(row);\n\t\t\t\thtml += '<tr>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.class;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '<td>';\n\t\t\t\thtml +=  row.score;\n\t\t\t\thtml += '</td>';\n\t\t\t\thtml += '</tr>';\n\t\t\t});\n\t\t\t}\n\t\t\telse\n\t\t\t\thtml+=\"<div>No Data</div>\";\n\t\t\t$('#scoretable').html(html);\n\t}\n    (function(scope) {\n        scope.$watch('msg.payload', function(data) {\n            console.log('Position 2');\n            console.dir(data);\n            getdata(data);\n\n        });\n    })(scope);\n    \n    \n// or overwrite value in your callback function ...\nthis.scope.action = function() { return x; }\n\n</script>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":260,"y":200,"wires":[["810971d.efeb09","b29d0014.e0254"]]},{"id":"113359fc.481b16","type":"debug","z":"5a3f589e.2f0518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":260,"wires":[]},{"id":"836e96f2.1aeb88","type":"ui_audio","z":"5a3f589e.2f0518","name":"","group":"8c221496.712c48","voice":"en-US","always":"","x":820,"y":120,"wires":[]},{"id":"71801a0b.964f34","type":"ui_form","z":"5a3f589e.2f0518","name":"","label":"","group":"15517f82.6c747","order":2,"width":8,"height":5,"options":[{"label":"Farmer Name","value":"name","type":"text","required":true,"rows":null},{"label":"FarmerID","value":"id","type":"number","required":true,"rows":null},{"label":"Type of crops recognized","value":"crops","type":"text","required":true,"rows":null},{"label":"No, of Acres harvested","value":"acre","type":"number","required":true,"rows":null}],"formValue":{"name":"","id":"","crops":"","acre":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":550,"y":440,"wires":[["3f748354.82961c"]]},{"id":"177ccd0e.aea173","type":"debug","z":"5a3f589e.2f0518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":480,"wires":[]},{"id":"3f748354.82961c","type":"function","z":"5a3f589e.2f0518","name":"","func":"msg.payload = \"Thank You the form has been filled\"\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":500,"wires":[["177ccd0e.aea173","5d1e4b94.711f74"]]},{"id":"5d1e4b94.711f74","type":"ui_text","z":"5a3f589e.2f0518","group":"15517f82.6c747","order":2,"width":0,"height":0,"name":"","label":"Form Status","format":"{{msg.payload}}","layout":"row-spread","x":380,"y":540,"wires":[]},{"id":"8c221496.712c48","type":"ui_group","z":"","name":"Crop Detection(Safety protocols followed amidst pandemic)","tab":"34f629c6.a12796","order":5,"disp":true,"width":"15","collapse":false},{"id":"15517f82.6c747","type":"ui_group","z":"","name":"Details filled by govt. authority","tab":"34f629c6.a12796","order":2,"disp":true,"width":"8","collapse":false},{"id":"34f629c6.a12796","type":"ui_tab","z":"","name":"Registration/Visual Recognition","icon":"dashboard","order":3,"disabled":false,"hidden":false}]
